[*.cs]

# CS8600: Se va a convertir un literal nulo o un posible valor nulo en un tipo que no acepta valores NULL
dotnet_diagnostic.CS8600.severity = silent

# CS0219: La variable está asignada pero nunca se usa su valor
dotnet_diagnostic.CS0219.severity = none
